html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}

.logo {
    width: 180px;
    margin-top: 30px;
    border-radius: 40px;
}

#login_button {
    width: 80%;
    border-radius: 15px;
}

.login_div img {
    background: rgba(255, 255, 255, 0.8);
    float: none;
    border-radius: 15px;
}

.login_div {
    margin-left: 250px;
}